<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Usage</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="demo">
        <input type="radio" id="one" value="One" v-model="picked" />
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked" />
        <label for="two">Two</label>
        <br>
        <span>Picked:{{picked}}</span>
    </div>
    <script>
        new Vue({
           el: '#demo',
           data: {
            picked: 'One',
           } 
        });
    </script>
</body>
</html>